@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:focus{
    outline: none;
}

body{
    background: #F4F4F4;
    font-family: 'Open sans';
}


/* FORMULARIO  */

.form_wrap{
  
    width: 900px;
    height: 430px;
    margin: 170px auto 150px auto;
    display: flex;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/
h2
{
    text-align: justify;
    font-size: 35px;
    font-weight: bolder;
    text-shadow:  rgba(173, 194, 197, .6) 2px 2px 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 5px; 
    letter-spacing: .5px;
    width: 300px;
    
}

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: rgb(58, 115, 169,1);
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 30px;
}

.info_title span{
    font-size: 80px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.info_title h2{
    font-size: 20px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 20px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 20px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 0px 40px;
}

form.form_contact h2{
    margin-top: 20px;
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 5px;
}

form.form_contact .user_info{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input
{
    width: 100%;
    /* padding: 8px 0px 5px; */
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

form.form_contact input[type="submit"]{
    width: 180px;
	background: rgb(58, 115, 169,1);
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
    
}

form.form_contact input[type="submit"]:hover{
    background: #202060;
}

#resultados_ajax
{
    width: auto;
    margin-bottom: 0px;
    justify-content: center;
}

/* Mensajes*/
.mensaje-error {
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    background-color: #E25151;
    margin-right: 8px;
}

/* MENSAJE EXITOSO*/

.mensaje-exito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;

}

.mensaje-exito {
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}


footer
{
    background: #F4F4F4;
} 