/* centramos el cuerpo */
#cuerpo
{
    width: 97%;
    margin-top: 100px;
    margin-left: 415px;
    margin-right: auto;
    margin-bottom: 150px;
}

.fotos
{
    vertical-align: top;
    display: inline-block;
    
}
#img1,
#img2,
#img4,
#img5,
#img6
{
    width: 165px;
    height: 110px;
}
#img3
{
    width: 170px;
    height: 110px;
}

.op50
{
    opacity: 0.5;
}
.op75
{
    opacity: 0.75;
}
.desplazar
{
    width: 35px;
    margin-top: 32px;
    display: inline-block;
}