/* centramos el cuerpo */
#cuerpo
{
    width: 97%;
    margin-top: 100px;
    margin-left: 415px;
    margin-right: auto;
    margin-bottom: 150px;
}

.fotos
{
    vertical-align: top;
    display: inline-block;
    
}
#img1,
#img2,
#img4,
#img5,
#img6
{
    width: 165px;
    height: 110px;
}
#img3
{
    width: 170px;
    height: 110px;
}
/* Para que se vean todas las imagenes en un primer momento crearemos una opacidad con una 2ª clase. Las fotos seran mas opacas de los extremos hacia el interior del carrusell */
.op50
{
/* se lica a los extremos */
    opacity: 0.5;
}
.op75
{
/* se lica a las mas internas */
    opacity: 0.75;
}
.desplazar
{
    width: 35px;
    margin-top: 32px;
    display: inline-block;
}