/****************  Encabezado importado*****************************/

/* @import url(encabezado.css); */

/***********************************************************/

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../montserrat_[allfont.es].eot);
}

/***************** Estilos generales del documento ********************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box; 
    background-image: url(../imgs/degradado_1920x600.png); 
    background-position: left;
    background-size: cover;
    background-repeat: repeat-x;  
}
/***************************************** nav vertical **********************/
/** rest  */
/* ul, li, a{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;     */
/*} termina el rest*/

/* #contenedor_nav{
    margin: -20px;
}


.menu_navegacion{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bolder;
    color: #004d99;
    
    display: inline-block;
    width: 130px;
}
.menu_navegacion ul{
    border: 2px solid navy;
    width: 150px;
    position: absolute;
    float: right;
    padding-right: 5px;
    background-image: url(../imgs/degradado_1920x600.png);
    background-position: top;
    background-repeat: repeat-y;
    left: 0; 

}
.menu_navegacion li{
    border: 1px solid navy; */
    /* margin-top: -20px; */
    /* width: 140px;
    padding: 7px ;
    text-align: center;
}

.menu_navegacion a{
    background-color: transparent;
    margin-bottom: 5px 2px;
    width: 130px;
    padding: 5px;
    
}
.menu_navegacion a:hover{
    background-image: url(../imgs/degradado_1920x600.png);
    background-position: right;
    background-repeat: repeat-x;
    background-size: cover;
    color: white;
    font-weight: bolder;
    transition: .4;
}
.menu_navegacion li:hover{
    background-image: url(../imgs/degradado_1920x600.png);
    background-position: right;
    background-repeat: repeat-x;
    background-size: cover;
    transition: .4;
} */
/************************ menu deslizante ************************/
/* #menu_boton{
    border-color: 2px solid navy;
    background-color: transparent;
    width: 159px;
    color: #004d99;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 20px;
    padding: 7px;
    margin-left:-20px;
}
#menu{
    width: 70px;
    /* background-color: rgb(110, 138, 195); */
    /* padding: 20px 20px 0 20px;
    position: absolute;
    left: -140px;
    z-index: 100;
}  */



/* GALERÍA */

.contenedor__galeria
{
    overflow: hidden;
}

#content_galeria_img
{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
}
.objGaleria img
{ 
    width: 100%;
/* para que ocupe la anchura del div padre */
    max-width: 800px; 
/* al usar porcentajes las imagenes se mueven y ponemos un ancho maximo */
        /* box-shadow: #00F 5px 5px 10px ; */
/* Para suavizar las transformaciones de los elementos */
/*Parametros: 
    * 0.3-> tiempo en el que tarda en producirse la transformación del elemento(escalar).
    * ease-> que sea suave
    * -in-out-> que el efecto se produzca al entrar y salir con el ratón del elemento
    * 0.1s-> tiempo en el se produce el propio efecto ease-in-out*/
    -webkit-transition: -webkit-transform 0.3 ease-in-out 0.1s;
    -moz-transition: -moz-transform 0.3 ease-in-out 0.1s;
    -ms-transition: -ms-transform 0.3 ease-in-out 0.1s;
    -o-transition: -o-transform 0.3 ease-in-out 0.1s;
    transition: transform 0.3 ease-in-out 0.1s;
   
}
.objGaleria
{
    margin-left: 100px;
    margin-top: 25px; 
    margin-bottom: 50px;
    width: 500px; /* medidas absolutas para que no se desplace */
    display: inline-block;
    vertical-align: top;
    padding: 2px; 
    /* background-color: rgba(0, 0, 255, .2);   */
}

/* Efecto dinámico */
.objGaleria img:hover{
    /*modificar la escala del objeto para todos los navegadores*/
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);              
}



