
@font-face 
{
    font-family: 'Montserrat', sans-serif;
    src: url(../docs/montserrat_[allfont.es].eot);
}
body 
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
    background-image: url(../imgs/degradado_1920x600.png); 
    background-position: left;
    background-size: cover;
    background-repeat: repeat-y;         
}

/* CSS MENÚ DESLIZANTE */

#content_nav
{
    border: 1 px solid greenyellow;
    margin-left: 250px;
    margin-right: auto;
}

#menu
{
    /* border: 2px solid brown; */
    /* margin-top: 30px;
    margin-left: 100px; */
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bolder;
    color: #004d99;
    display: inline-block;
    width: 132px;
}

#menu #barra
{
    border: 1px solid #004d99;
    width: 155px;
    position: absolute;
    float: right;
    padding-left: 0px;
    /* padding-right: 5px; */
    list-style: none;
    top: 15px;
    left: 0x; 
}

#menu li 
{
    /* border: 1px solid green; */
    border-top: 0.5px solid  #004d99;
    border-bottom: 0.5px solid  #004d99;
    background-color: rgb(223, 235, 253);
    border-collapse: collapse;
	/* display: inline-block; */
    /* margin-right: 30px; */
    padding: 5px 10px;
    margin: 0px;
    text-align: center; 
}
#menu li a 
{
    /* border: 1px solid navy; */
	padding: 5px 12px; 
	background-color: rgb(223, 235, 253);
	color: #004d99;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    width: 130px;
    cursor: pointer;
}
#menu li a:hover, 
#menu li:hover 
{
	background-color: rgb(223, 235, 253);
    color: #004d99;
    font-weight: bolder;
    transition: .4;
    cursor: pointer;
}

/* BOTÓN MENÚ DESLIZANTE*/

#menu_boton{
    border-color: 0.5px solid  #004d99;
    background-color: #004d99;
    width: 159px;
    color: rgb(223, 235, 253);
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 15px;
    padding: 7px;
    text-transform: uppercase;
    cursor: pointer;
    /* margin-left:-20px; */
}
#menu{
    width: 70px;
    /* background-color: rgb(110, 138, 195); */
    /* padding: 20px 20px 0 20px;*/
    position: absolute;
    left: -140px;
    z-index: 100;
} 


#contenidos_externos #noticia 
{
	margin-top: 10px;
	padding: 20px;
	border: 1px solid white;	
}



#noticias_externas
{
    /* border: 2px solid navy; */
    margin-left: 450px;
    margin-right: auto;
    width: auto;
    height: auto;
    margin-top: 5px;
    text-align: center;
    z-index: 100;
    
}


/* SECCION NOTICIAS */

.seccion
{
    position: relative;
    display: block;
    margin: auto;
    overflow: hidden;
   
}

h2
{
    font-family: 'Montserrat';
    text-align: left;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: 0.5px;
    
}

/* NOTICIA1 */
.articulo_1
{
    margin-top: 100px;
}
.noticia1
{
    position: relative; 
    margin: 0;
    width: 100%;
}
.noticia1__titulo
{
    padding-top: 25px;
    margin-bottom: 0;
    margin-left: 3em;
}
.noticia1 p  
{
    position: absolute;
    display: inline-block;
    font-family: 'Montserrat';
    margin-left: 60px;
    margin-top: 60px;
    text-align: justify;
    width: 67%;   
}

.noticia1__img
{
    position: relative;
    display: inline;
    margin: 2% 2% 1% 5%;
} 


/* NOTICIA2 */

.noticia2__titulo, 
.noticia3__titulo 
{
    margin: 2% 0 0 3em;
}
.noticia2 p 
{
    position: relative;
    font-family: 'Montserrat';
    text-align: justify;
    width: 91%;
    margin-left: 5%;
    margin-bottom: 0;

}

.noticia2 img 
{
    margin-left: 350px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 1200px; 
    height: 400px;
    
}

/* NOTICIA3 */
#noticia3_text
{
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 50px;
    text-align: justify;
    width: 800px;
    float: left;
}

/* #noticia3_video
{
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 800px;
} */

#noticia3_video {
    margin-top: 45px;
    margin-bottom: 30px;
    margin-left: 90px;
    width: 800px;
}
