html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* FOOTER */
footer {
    font-family: Helvetica;
    background-image: url(../img/body_web_1900x600.png);
    background-position: left;
    background-size: cover;
    background-repeat: repeat-x; 
}

/* ESTILOS GENERALES LISTAS*/

footer > #section_pie > div.columns > ul,
footer > #section_pie > div.columns > div > ul {
    list-style: none;
    padding-left: 40px;
}

/* ESTILOS GENERALES ENLACES*/
footer > #section_pie > div.columns > ul > li > a {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

footer > #section_pie_footer > p > a {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .2px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 5px;
}
footer > #section_pie > div.columns > ul > li > a:hover {
    color: #663300;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: normal;
    transition: all .3s ease-in-out;

}
footer > #section_pie_footer > p > a:hover {
    color: #663300;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: normal;
    transition: all .3s ease-in-out;
}

footer > #section_pie > div.columns > ul > li {
    padding: 5px;
}

/* SECTION */
footer > #section_pie {
    width: 100%;
    overflow: hidden;
    font-family: 'Montserrat';
}

/* DIVS CLASS COLUMNS */
.columns {
    width: 20%; /*para articles usar medidas absolutas */
    height: 200px;
    margin: 20px;
    display: inline-block;
    vertical-align: top; /* se colocan en vertical*/
    margin-left: 90px;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 5px;
}

/* ENCABEZADOS SECCIONES */
footer > #section_pie > div.columns > h4 {
    margin-left: 30px;
    margin-right: auto;
    margin-top: 10px;
    font-family: Helvetica;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: inherit;
}
/* COLUMN1 */
footer > #section_pie > div#column1 {
    font-family: Helvetica;
    font-size: 12px;
    width: 15%;
}

footer > #section_pie > div#column1 > img {
    margin-left: 10px;
    margin-right: auto;
}

footer > #section_pie > div#column1 > div > p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

footer > #section_pie > div#column1 > div > span {
    margin-left: 40px;
    padding: 10px 20px 10px 10px;
}

footer > #section_pie > div#column1 > div > span > i {
    padding: 10px;
    font-size: 16px;
    color: #663300;
}

/* COLUMN3 COLUMN2 */
footer > #section_pie > div#column2 > ul,
footer > #section_pie > div#column3 > ul {
    padding-left: 25px;
  

}
/* PIE SECTION  */
footer > #section_pie_footer,
footer {
    border-top: 1px solid #f5ecdf;
    font-family: Helvetica;
}

footer > #section_pie_footer > p {
    text-align: center;
    font-size: 9px;
}